@import url("reset.css");
.wrap {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
}

.top {
}

.logo {
    padding-top: 50px;
}

.logo img {
    max-width: 100%;
}

.nav {
}

.nav a {
    color: #000;
    text-decoration: none;
    display:block;
    font-size: 16px;
}

.nav a:hover{
    text-decoration: none;
    opacity: 0.7;
}

.container {
}

.contact {
    width: 400px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.fb {
    margin-top: 20px;
}

.line {
    margin-top: 80px;
}

.container-top img{
    width: 100%;
}

.product-lineup {
    margin-top: 30px;
    font-size: 28px;
    font-weight: bold;
    line-height: normal;
    position: sticky;
    text-align: center;
}

.product-lineup:before {
    position: absolute;
    top: 50%;
    z-index: -1;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    content: "";
}

.product-lineup span {
    padding: 0 2em;
    background-color: #fff;
}

.product {
    margin-top: 30px;
}

.item {
    min-height: 270px;
}

.item-img a {
    display: block;
}

.item-img a img {
    width: 100%;
}

.item-title {
    margin-top: 15px;
    text-align: center;
}

.item-title a {
    color: #000;
    text-decoration: none;
}

.item-title a:hover {
    color: blue;
    text-decoration: none;
}

.item-price {
    margin-top: 10px;
    text-align: center;
}

.product-item {
}

.product-item-img {
}

.product-item-title {
    margin-top: 15px;
    text-align: center;
}

.product-item-title {
    margin-top: 15px;
    text-align: center;
}

.product-item-price {
    margin-top: 10px;
    text-align: center;
}

.product-item-form-quantity {
    margin-top: 50px;
    text-align: center;
}

.product-item-subject {
    font-size: 18px;
}

.product-item-quantity {
    margin-top: 10px;
}
.btn-q-minus {
    color: gray;
}

.btn-q-plus {
    color: gray;
}

.product-item-input-quantity {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #aaa;
}

.item-form-button {
    margin-top: 50px;
    text-align: center;
}

.product-item-detail {
    margin-top: 50px;
    margin-left: 0px;
}

.cart {
    width: 100%;
}

.cart-none {
    margin-top: 10px;
    font-size: 20px;
    color: red;
}

.cart-item {
    margin-top: 50px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

.cart-item-image {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.cart-item-information {
    margin-left: 90px;
    width: 250px;
}

.cart-item-name {
    margin-top: 5px;
    font-size: 16px;
}

.cart-item-name-qty {
    margin-top: 5px;
    font-size: 16px;
}

.cart-item-name-price {
    margin-top: 5px;
    font-size: 16px;
    line-height: normal;
}

.cart-item-name-total {
    margin-top: 5px;
    font-size: 16px;
}

/*.cart-item-remove {
    margin-top: 10px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}*/

.cart-totalPrice {
    margin-top: 50px;
    font-size: 28px;
}

.order-form {
    padding-top: 50px;
    width: 100%;
    margin: auto;
}

.warning-message {
    font-size: 18px;
    color: red;
}

.field {
    margin-top: 5px;
    font-size: 18px;
}

.form-required {
    color: red;
}

.form-input {
    width: 100%;
}

.password {
    width: 100%;
}

.footer {
    margin-top: 50px;
    color: gray;
    text-align: center;
    font-size: 10px;
    padding: 20px;
}
